{% extends "reader_layout.html" %}
{% block content %}

<legend>Which Book Are You Looking For?</legend>

<footer class="container-fluid text-center">

  <form class="form-inline">Search by title or author:
    <input type="email" class="form-control" size="50" placeholder="Name">
    <button type="button" class="btn btn-danger">Search</button>
  </form>
</footer>

  <div class="container">
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="#">Book Name</a></h2>
            <p class="article-content">
              <ul>
                <li>
                  Author Name:
                </li>
                <li>
                  Branch Name:
                </li>
            <li>
                  Phone Number Branch:
                </li>
            <li>
                  Address Branch:
                </li>
            <li>
                  Stock:
                </li>
                <input class="btn btn-outline-info" type="submit" value="Borrow">
              </ul>
            </p>
          </div>
        </article>
    </div>

<div class="container">
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="#">Book Name</a></h2>
            <p class="article-content">
              <ul>
                <li>
                  Author Name:
                </li>
                <li>
                  Branch Name:
                </li>
            <li>
                  Phone Number Branch:
                </li>
            <li>
                  Address Branch:
                </li>
            <li>
                  Stock:
                </li>
                <input class="btn btn-outline-info" type="submit" value="Order">
              </ul>
            </p>
          </div>
        </article>
    </div>
{% endblock %}