<!--inherit navigation bar and side menu from librarian_layout-->
{% extends "librarian_layout.html" %}
{% block content %}
  <legend class="border-bottom mb-4">Manage Borrow Requests</legend>
    <!-- loop over the request in the librarian branch-->
    {% for request in requests %}
      <form class="form-inline" action="{{ url_for('managerequest') }}" method="POST">
        <div class="container-fluid">
            <article class="media content-section">
              <div class="media-body">
                <h2>Request ID: {{ request[4] }}</h2>
                <input type="hidden" name="request_id" value="{{ request[4] }}">
                <p class="article-content">
                  <ul>
                    <li>
                      Copy ID: {{ request[0] }}
                    </li>
                    <li>
                      Copy Status: {{ request[3] }}
                    </li>
                    <li>
                      Borrower's Email: {{ request[5] }}
                    </li>
                    {% if request[7] == 'waiting' %}
                        <li>
                        There Is An Order For This Copy
                        </li>
                        <li class="nobull">
                            This request cannot be approved
                        </li>
                        <div class="card-btn">
                            <input class="btn btn-outline-info" type="submit" value="Decline">
                        </div>
                    {% else %}
                        {% if request[3] == 'available' %}
                            <li>
                            There Is No Order For This Copy
                            </li>
                            <li class="nobull">
                            This request can be approved
                            </li>
                            <div class="card-btn">
                                <input class="btn btn-outline-info" type="submit" value="Approve">
                            </div>
                        {% else %}
                            <li>
                            This Book is already borrowed
                            </li>
                            <li class="nobull">
                            This request cannot be approved
                            </li>
                            <div class="card-btn">
                                <input class="btn btn-outline-info" type="submit" value="Decline">
                            </div>
                        {% endif %}
                    {% endif %}
                  </ul>
                </p>
              </div>
            </article>
        </div>
      </form>
    {% endfor %}
{% endblock content %}