{% extends "reader_layout.html" %}
{% block content %}
  <div class="container">
    <p>
      {{ user.name }}'s Books
    </p>
        <div class="container">
          <legend class="headline">Currently Borrowed</legend>
        </div>
        <div class="container">
            <article class="media content-section">
              <div class="media-body">
                <h1><a class="article-title" href="#">Book Name</a></h1>
                <p class="article-content">
                  <ul>
                    <li>
                      Author Name:
                    </li>
                    <li>
                      Borrowed Date:
                    </li>
                    <li>
                      Return Date:
                    </li>
                    <li>
                      Branch Name:
                    </li>
                    <input class="btn btn-outline-primary" type="submit" value="Return">
                    <input class="btn btn-outline-primary" type="submit" value="Extension">
                  </ul>
                </p>
              </div>
            </article>
        </div>

    <legend class="headline">Borrow History</legend>
    </div>
    <div class="container">
        <article class="media content-section">
          <div class="media-body">
            <h1><a class="article-title" href="#">Book Name</a></h1>
            <p class="article-content">
              <ul>
                <li>
                  Author Name:
                </li>
                <li>
                  Borrowed Date:
                </li>
                <li>
                  Return Date:
                </li>
                <li>
                  Branch Name:
                </li>
              </ul>
            </p>
          </div>
        </article>
    </div>

{% endblock %}
