{% extends "reader_layout.html" %}
{% block content %}
<div class="container">
    <legend class="headline">Don't Forget To Book A Trip To The Library!</legend>

    <h1>Hi {{ user.name }}! </h1>
    <p>
    </p>
        {% for key, value in user_dict %}
        <article class="media content-section">
          <div class="media-body">
            <h2>{{ key }} : {{ value }}</h2>
          </div>
        </article>
    {% endfor %}
</div>
<img src="https://images.contentstack.io/v3/assets/bltf6a42d9e46f07d48/blt8ae88c31eeeed222/62d03aaf1b2225113da05acd/brickwork-covers-top.jpg" alt="books">
{% endblock content %}