{% extends "basic.html" %}
{% block content %}
<h1> Please Insert Your Details </h1>
    <form action="{{ url_for('registerLibrarian') }}" method="POST">
        <table>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" name="email">
                </td>
            </tr>
            <tr>
                <td>Full Name</td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>
                    <input type="number" name="phone">
                </td>
            </tr>
            <tr>
                <td collspan="2">Address</td>
            </tr>
            <tr>
                <td>City Name</td>
                <td>
                    <input type="text" name="city">
                </td>
            </tr>
            <tr>
                <td>Street Name</td>
                <td>
                    <input type="text" name="street">
                </td>
            </tr>
            <tr>
                <td>House Number</td>
                <td>
                    <input type="number" name="house">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="number" name="password">
                </td>
            </tr>
            <tr>
                <td>Date</td>
                <td>
                    <input type="date" name="begin_work_date">
                </td>
            </tr>
            <tr>
                <td>Branch</td>
                <td>
                      <!--select name="cars" id="cars">
                          {% for name in branch_names %}
                        <option value="volvo">Volvo</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                          {% endfor %}
                      </select-->
                    <input type="text" name="branch">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Submit">
                </td>
                <td></td>
            </tr>
        </table>
    </form>
{% endblock content %}
