{% extends "basic_layout.html" %}
{% block content %}
    <form action="{{ url_for('registerLibrarian') }}" method="POST">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Please Insert Your Details To Register As A Reader</legend>
                <div class="form-group">
                    <div class="form-control-label">
                        Email
                    </div>
                        <input class="form-control form-control-lg" type="email" name="email">
                </div>
                <div class="form-group">
                    <div class="form-control-label">
                        Full Name
                    </div>
                        <input class="form-control form-control-lg" type="text" name="name">
                </div>
                 <div class="form-group">
                    <div class="form-control-label">
                        Phone
                    </div>
                        <input class="form-control form-control-lg" type="number" name="phone">
                </div>
                <div class="form-group">
                    <div class="form-control-label">
                        Password
                    </div>
                        <input class="form-control form-control-lg" type="number" name="password">
                </div>
                <div class="form-group">
                    <div class="form-control-label">
                        Date Of Birth
                    </div>
                        <input class="form-control form-control" type="date" name="date">
                </div>
                <div class="form-group">
                    <div class="form-control-label">
                        <h5>Address</h5>
                    </div>
                </div>
                 <div class="form-group">
                    <div class="form-control-label">
                        City Name
                    </div>
                        <input class="form-control form-control-lg" type="text" name="city">
                </div>
                <div class="form-group">
                    <div class="form-control-label">
                        Street Name
                    </div>
                        <input class="form-control form-control-lg" type="text" name="street">
                </div>
                <div class="form-group">
                    <div class="form-control-label">
                        House Number
                    </div>
                        <input class="form-control form-control-lg" type="number" name="house">
                </div>
                <div class="form-group">
                    <input class="btn btn-outline-info" type="submit" value="Submit">
                </div>
        </fieldset>
    </form>
{% endblock content %}
