{% extends "basic_layout.html" %}
{% block content %}
<h1 class="important-text"> A Lot Of Fun </h1>
    <form action="/" method="post">
        <table>
            <tr><td colspan="2" >Reader Inputs</td></tr>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" name="email">
                </td>
            </tr>
            <tr>
                <td>Full Name</td>
                <td>
                    <input type="number" name="name">
                </td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>
                    <input type="number" name="email">
                </td>
            </tr>
            <tr>
                <td>Address</td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="number" name="name">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Show Planner">
                </td>
                <td></td>
            </tr>
        </table>
    </form>
{% endblock content %}
