<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <ul>
        <li><a class="active" href="#home">Home</a></li>
        <li><a href="#login">Login</a></li>
        <li><a href="#Registration.reader">Registration for Reader</a></li>
        <li><a href="#Registration.librarians">Registration for Librarian</a></li>
    
      </ul>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <h1>Welcome To Our Library!</h1>
    <p class ="middle">We have so many books waiting just for you
      <i class="glyphicon glyphicon-book"></i>
    </p>
    <form action="{{ url_for('welcome') }}" method="POST" >
        <label for="search books">Search by title or author</label>
        <input type="text" id="fname" name="fname">
      </form>
</body>
<img src="https://images.contentstack.io/v3/assets/bltf6a42d9e46f07d48/blt8ae88c31eeeed222/62d03aaf1b2225113da05acd/brickwork-covers-top.jpg" alt="books">
<p class="branches">Our Beloved Branches:
  
</p>
<h2>Our Policy:</h2>
<div class="center">
    <p>1.The maximum of books that reader can borrow is 3.
       
    </p>
  </div>
</p>
</html>