{% extends "basic_layout.html" %}
{% block content %}
<h1> Sign In </h1>
    <form action="{{ url_for('registerReader') }}" method="POST">
        <table>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" name="email">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="number" name="password">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Sign In">
                </td>
                <td></td>
            </tr>
        </table>
    </form>
{% endblock content %}
