{% extends "basic_layout.html" %}
{% block content %}
<h1> Sign In </h1>
    <form action="{{ url_for('welcome') }}" method="POST">
        <table>
            <tr>
                <td>Email</td>
                <td>
                    <input type="email" name="email">
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="number" name="password">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Sign In">
                </td>
                <td></td>
            </tr>
        </table>
    </form>

    <p class ="middle">We have so many books waiting just for you
      <i class="glyphicon glyphicon-book"></i>
    </p>
  <p class="branches">Our Beloved Branches:

  </p>

     <img src="https://images.contentstack.io/v3/assets/bltf6a42d9e46f07d48/blt8ae88c31eeeed222/62d03aaf1b2225113da05acd/brickwork-covers-top.jpg" alt="books">


  <h2>Our Policy:</h2>
  <div class="center">
    <p>1.The maximum of books that reader can borrow is 3.</p>
  </div>
{% endblock content %}
