body {
    font-family: arial, helvetica, sans-serif;
    font-size: 120%;
    color: rgb(187, 51, 237)t;
    background-color: rgb(225, 232, 234);
    margin: 1em;
    padding: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(109, 92, 207);
    font-size: 150%;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  a:hover:not(.active) {
    background-color: rgb(34, 3, 225);
  }
  
  .active {
    background-color:rgb(34, 3, 225);
  }
h1{
    text-align: center;
    text-shadow: 0 0 3px #bd1df2;
    font-size: 2.5em;
    
}
.middle{
  text-align: center;
  font-size: 1.5em;
  color:#2d185f;
  line-height: 0.2;
}
.center {
    margin: auto;
    width: 90%;
    border: 2px solid #380555;
    
  }

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid rgb(32, 29, 44);
    border-radius: 4px;
    font-size: 95%
  }

 img{
    width: 100%;
    border: 1px solid black;
    height: 65%;
    
 }


 .branches{
  text-shadow: 0 0 3px #543684, 0 0 5px #0000FF;
  font-size: 2.5em;
 }
 .borrowed {
  width: 400px;
  height: 150px;
  padding: 10px;
  background-color: rgb(225, 209, 252);
  box-shadow: 10px 10px 5px rgb(125, 198, 222);
  font-size: 2em;
  color: rgb(52, 21, 180);
  margin-left: 350px;
  
}
h2{

  color: rgb(35, 13, 137); 
  font-size: 190%;
  
}
.gallery1 {
  margin: 2px;
  border: 1px solid #ccc;
  float: left;
  width: 45%;
  padding: 5px;
}
.gallery2 {
  margin: 2px;
  border: 1px solid #ccc;
  float: right;
  width: 45%;
  padding: 5px;
}

.photo{
  padding: 5px;
  margin: 2px;
  width: 90%;
  color:blue;
}
